@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body{
    background-color: rgb(81, 0, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: aliceblue;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
}

section{
    display: flex;
    flex-direction: column;
}

input{
    padding: 12px;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 6px;

}

input[type='submit']{
    background-color:  rgb(81, 0, 255);
    color: #ccc;
}

#message{
    display: none;
    background-color: aliceblue;
    width: 350px;
    margin-top: 7px;
    color: black;
    position: relative;
    padding: 20px;
    letter-spacing: 0.5px;
    animation: anime 0.5s ease-out;
}
@keyframes anime {
    from{
        transform:translateY(100px) ;
    }
}

h3{
    font-size: 16px;
    font-weight: 400px;
}

#message p{
    margin-left: 7px;
    padding: 7px 0;
    font-size: 15px;
}
.invalid{
    color: red;
}

.invalid:before{
    position: relative;
    left: -7px;
    content: '✗';
}

.valid{
color: green
}
.valid:before{
    position: relative;
    left: -7px;
    content: "✓";
}
